body {
  font-size: 16px;
  background: #333333;
}

h1 {
  color: white;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: auto 40% auto;
  margin: 25vh 0 25vh 0;
}

button {
  background: #FF7600;
  margin: .2em;
  cursor: pointer;
  transition: .2s;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: .5em;
}

#equals {
  background: #5c7e10;
}

button:hover {
  background: black;
  color: white;
  border: 2px solid yellow;
}

#counter {
  background: white;
  padding: .5em;
  border-radius: .2em;
}

#calculator {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 60% 40%;
  border: 1px solid black;
  padding: 2em;
  background: #171a21;
  border-radius: .5em;
  box-shadow: 2px 2px 0 2px #FF7600;
}

#counter {
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: right;
  font-size: 1.5em;
  font-weight: bold;
}

#operators {
  display: grid;
  grid-template-columns: 50% 50%;
  border-left: 1px solid #FF7600;
  padding-left: 1em;
}

#operators button {
}

#numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 1em;
}

#zero {
  grid-column: 2;
}