#container {
  display: grid;
  grid-template-columns: auto 40% auto;
  margin: 25vh 0 25vh 0;

  #calculator {
    grid-column: 2;
    border: 1px solid black;
    padding: 2em;
    background: #171a21;
    border-radius: .5em;
    box-shadow: 2px 2px 0 2px #FF7600;

    .display {
      background: white;
      padding: .5em;
      border-radius: .2em;
    }

    .keys {
      display: grid;
      grid-template-columns: auto auto;

      button {
        background: #FF7600;
        cursor: pointer;
        transition: .2s;
        font-size: 1.5em;
        font-weight: bold;

        &:hover {
          background: black;
          color: white;
          border: 2px solid yellow;
        }
      }

      .numbers {
        grid-column: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .operators {
        justify-self: center;
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr;
        width: 50%;
      }
    }
  }
}





.active {
  background-color: blue;
}

.equals {
  background: #5c7e10;
}



#counter {
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: right;
  font-size: 1.5em;
  font-weight: bold;
}

